// Include styles from new theme
@import 'custom';

$uf-blue: #00529b; 
$uf-orange: #dd661e;

body{
  padding-top: 6em;
}

.navbar-fixed-top{
  background: $uf-blue; 
}

#logo-home{
  a:hover{
    background-color: transparent;
  }
  img{
    max-width: 20%;
  }
}

// Homepage styling

#home-search{
  padding-top: 4em;
}

#search-tips{
  background-color: #fbfbfb;
  border: 1px solid #ccc;
  border-radius: 1em;
  padding: 1em;
}

// Search page styling

.search-info{
  padding: 1em;
}

.search-entry{
  border-bottom: 1px dotted #ccc;
  margin: 1em 0;
}

.search-info{

  .btn{
    margin: auto;
    float: right;
  }
}

#search-history{
  clear: both;
  padding: 1em 0;
}

// Details styling

#details{
  .panel-heading{
    overflow: auto;
  }
}

