$uf-blue: #00529b; 
$uf-orange: #dd661e;

body{
  padding-top: 72px;
}

.navbar-fixed-top{
  background: $uf-blue; 
}

#logo-home{
  a:hover{
    background-color: transparent;
  }
  img{
    max-width: 20%;
  }
}
